@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

:root {
    --primary-dark: #00739F;
    --primary-light : #2D7B7B;
}

@layer base {
    body{
        @apply font-[Lora]
    }
    li {
        @apply p-4 text-xl
    }
    h1{
        @apply text-3xl md:text-4xl  py-8
    }
    h2{
        @apply text-3xl font-bold
    }
    h3{
        @apply text-xl font-bold
    }
    button {
        @apply p-2 border bg-[#00739F] text-white rounded-md
    }
}

.icon{
    height:40px;
    width :60px;
    color :#2D7B7B;
}

.style{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    text-align: center;
}
